<!DOCTYPE html>
<html lang="es">
    <head>
        {% include 'header.html' %}
    </head>
    <body>
        <header>
            {% include 'navbar.html' %}
        </header>
        <main>
            <div class="main-title">
                <h1>Bienvenidos</h1>
                <h1>al sitio web del marciano</h1>
            </div>
            <div class="main-content">
                <div class="main-content-text">
                    <p>El marciano es un sitio web donde encontraras datos de los desarrolladores de este sitio web, y tambien informacion breve sobre los personajes y actores que participaron en la pelicula y el libro del marciano, como dato adicional tambien encontraras un apartado para subir tus propias imagenes de la pelicula y el libro del maricano.</p>
                </div>
                <div class="main-content-img">
                    <img src="../../static/images/main-martian.png" alt="marciano">
                </div>
                <div class="main-content-title">
                    <h2>El marciano</h2>
                </div>
                <div class="main-content-img">
                    <img src="../../static/images/martian-movie.png" alt="marciano">
                </div>
                <div class="main-content-text">
                    <p>El marciano es una película estadounidense de ciencia ficción y drama dirigida por Ridley Scott y protagonizada por Matt Damon, Jessica Chastain, Kristen Wiig, Jeff Daniels, Michael Peña, Kate Mara, Sean Bean, Sebastian Stan, Aksel Hennie y Chiwetel Ejiofor. La película está basada en la novela homónima de Andy Weir, publicada en 2011. La película se estrenó en los cines el 2 de octubre de 2015 en los Estados Unidos y el 1 de octubre de 2015 en el Reino Unido. La película fue un éxito comercial, recaudando más de $ 630 millones en todo el mundo, convirtiéndola en la película de ciencia ficción más taquillera de 2015 y la tercera película de Ridley Scott más taquillera de todos los tiempos. La película fue nominada a tres premios de la Academia, incluyendo Mejor película, Mejor actor (Matt Damon) y Mejor guión adaptado.</p>
                </div>
                <div class="main-content-title">
                    <h2>El libro</h2>
                </div>
                <div class="main-content-img">
                    <img src="../../static/images/martian-book.png" alt="marciano">
                </div>
                <div class="main-content-text">
                    <p>El marciano es una novela de ciencia ficción escrita por Andy Weir y publicada en 2011. La novela cuenta la historia de Mark Watney, un astronauta estadounidense que queda atrapado en Marte durante una misión de exploración. La novela fue publicada originalmente en línea como una novela web, y luego fue publicada en formato de libro en 2014. La novela fue un éxito de ventas, vendiendo más de un millón de copias en todo el mundo. La novela fue adaptada al cine en 2015, con Matt Damon en el papel principal. La novela fue nominada a los premios Hugo y Nebula en 2012.</p>
                </div>
                <div class="main-content-title">
                    <h2>Quienes somos</h2>
                </div>
                <div class="main-content-img">
                    <img src="../../static/images/martian-group.png" alt="marciano">
                </div>
                <div class="main-content-text">
                    <p>somos un grupo de estudiantes de la universidad catolica de colombia sede bogota, que estamos realizando un proyecto de programacion web, para la materia de ingenieria web, en el cual se nos pide realizar un sitio web sobre el libro y la pelicula el marciano (The Martian), en el cual se nos pide que se incluya informacion sobre los personajes, actores, desarrolladores, y tambien se nos pide que se incluya un apartado para subir imagenes de la pelicula y el libro.</p>
                </div>
            </div>
        </main>
        <footer>
            {% include 'footer.html' %}
        </footer>
    </body>
</html>


