
<div class="contenedor-item" >
    <h2>{{actor["first_name"]}} {{actor["last_name"]}}</h2>
    <img src={{actor["picture"]}} alt="actor">
    <p><strong>Fecha de nacimiento: </strong>{{actor["born_date"]}}</strong></p>
    <p><strong>Edad: </strong>{{actor["shows_age"]}} </strong></p>
    <p><strong>Premios: </strong>{{actor["awards"]}} </strong></p>
    <p><strong>Filmografia: </strong> {{actor["movies"]}} </strong></p>
    <p><strong>Web: </strong>
        <a href={{actor["web"]}} target="_blank" >Actor</a>
    </p>
    <p><strong>instagram:</strong>
        <a href={{actor["instagram"]}} target="_blank">{{actor["instagram"]}}</a>
    </p>
    <p>ID: {{id}} </p>
</div>