<div class="contenedor-item" >
    <h2>{{desarrollador["name"]}} {{desarrollador["lastName"]}}</h2>
    <img src={{desarrollador["picture"]}} alt="desarrollador">
    <p><strong>Edad: </strong>{{desarrollador["age"]}}</p>
    <p><strong>Profesion: </strong>{{desarrollador["profession"]}}</p>
    <p>{{desarrollador["description"]}}</p>
    <p><strong>E-mail: </strong>
        <a href="mailto:{{desarrollador["email"]}}" target="_blank" >{{desarrollador["email"]}}</a>
    </p>
    <p><strong>Celular: </strong> {{desarrollador["phone"]}} </p>
    <p><strong>Url a gitlab:</strong>
        <a href={{desarrollador["gitlab"]}} target="_blank">{{desarrollador["gitlab"]}}</a>
    </p>
    <p><strong>ID: <strong>{{id}} </p>
</div>