<div class="contenedor-item" >
    <h2>{{character["name"]}} {{character["lastname"]}} </h2>
    <p><strong>Profesion: </strong>{{character["profession"]}}</p>
    <p><strong>Rol del personaje: </strong>{{character["role"]}} </p>
    <p><strong>Dias fuera de la tierra: </strong>{{character["days_out_of_earth"]}} </p>
        <p><strong>Actor:</strong>
            <a href="http://127.0.0.1:8000/actor/{{character["shows_actor"]}}" target="_blank">{{character["shows_actor"]}}</a>
        </p>
    <p>ID: {{id}} </p>
</div>