
<!DOCTYPE html>
<html lang="es">
    <head>
        {% include 'header.html' %}
    </head>
    <body>
        <header>
            {% include 'navbar.html' %}
        </header>
        <main>
            <div class="content-images">
                <h1><strong>¡Bienvenido a la página de upload de imágenes!</strong></h1>
                <form class="content-form" method="POST" action="/upload" enctype="multipart/form-data" target="request">
                    <input class="form-input-file" type="file" name="image" accept="image/*" >
                    <button class="form-boton" type="submit">Suba las capturas de lanzamiento</button>
                </form>
                <iframe id="request"></iframe>
                <div id="response"></div>
                <div class="UPimagenes">
                        <div class="image-prompt-overlay-container">
                            <img width="1024" height="1024" alt=""  src="../../static/images/descarga.jpeg">
                        </div>
                        <div class="image-prompt-overlay-container">
                            <img width="1024" height="1024" alt=""  src="../../static/images/.jpeg">
                        </div>
                        <div class="image-prompt-overlay-container">
                            <img width="1024" height="1024" alt=""  src="../../static/images/.jpeg">
                        </div>
                        <div class="image-prompt-overlay-container">
                            <img width="1024" height="1024" alt=""  src="../../static/images/.jpeg">
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            {% include 'footer.html' %}
        </footer>
    </body>
</html>
